@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* elements resets */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

:root {
  --accent-font: 'Titan One', impact, sans-serif;
  --main-font: 'DM Sans', verdana, sans-serif;
  --primary-text-color: #000000;
  --secondary-text-color: #ffa5ba;
  --inverted-text-color: #ffffff;
  --additional-text-color: #907e82;
  --accent-color: #d41443;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #fff5f6;
  --hero-bg-color: #ffb8ca;
  --menu-bg-color: #e17992;
  --circle-bg-color: #ffa5ba;
  --card2-color: #f0d1a5;
  --card3-color: #c2e297;
  --quote-background-color: #fafafa;
  --shadow-params: 0px 8px 30px rgba(212, 20, 67, 0.1);
  --transition-params: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about__button, .example__buttons {
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .container {
    min-width: 320px;
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}

.section__heading {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.04em;
  line-height: 1.145;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .section__heading {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .section__heading {
    font-size: 58px;
  }
}

.section__subtitle {
  color: var(--secondary-text-color);
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .section__subtitle {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .section__subtitle {
    font-size: 30px;
    line-height: 1.13;
  }
}

.about__section {
  background-color: var(--secondary-bg-color);
  padding-top: 125px;
}

.about__thumb--cow {
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
}

@media screen and (max-width: 767px) {
  .about__thumb--cow {
    width: 280px;
    height: 279px;
  }
}

@media screen and (min-width: 768px) {
  .about__thumb--cow {
    width: 350px;
    height: 349px;
  }
}

@media screen and (min-width: 1280px) {
  .about__thumb--cow {
    width: 516px;
    height: 516px;
  }
}

.about__description {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: left;
}

.about__caption {
  color: var(--primary-text-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.about__text {
  color: var(--additional-text-color);
  margin-bottom: 18px;
}

.about__note {
  display: block;
  color: var(--additional-text-color);
}

.about__thumb--milk {
  margin-left: auto;
  margin-right: auto;
  margin-top: -140px;
  margin-bottom: 17px;
  border: 1px solid red;
  min-width: 320px;
  min-height: 133px;
  background-image: url(../images/about/milk-mobile@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 80%;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .about__thumb--milk {
    background-image: url(../images/about/milk-mobile@2x.png);
  }
}

.about__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  font-style: normal;
  line-height: 1.3;
  cursor: pointer;
  width: 176px;
  font-weight: 700;
  font-size: 16px;
  height: 44px;
  border-radius: 22px;
  padding: 0 22px;
  color: var(--accent-color);
  background-color: var(--main-bg-color);
  border: solid 1px var(--accent-color);
  margin: 0 auto;
  border: none;
}

.about__button:active, .about__button:focus, .about__button:hover {
  color: var(--inverted-text-color);
  background-color: var(--accent-color);
  border: solid 1px var(--accent-color);
}

.about__button svg {
  width: 5px;
  height: 8px;
  margin-left: 14px;
}

.example__section {
  padding-top: 256px;
  padding-bottom: 127px;
  background-color: var(--secondary-bg-color);
}

.example__heading {
  margin-bottom: 75px;
}

@media screen and (min-width: 768px) {
  .example__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: calc(-1 * 20px / 2);
  }
}

@media screen and (min-width: 1280px) {
  .example__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: calc(-1 * 20px / 2);
    margin-top: calc(-1 * 50px / 2);
    margin-bottom: calc(-1 * 50px / 2);
  }
}

@media screen and (max-width: 767px) {
  .example__item:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .example__item {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    width: calc((100% - (20px * 2)) / 2);
    margin: calc(20px / 2);
  }
}

@media screen and (min-width: 1280px) {
  .example__item {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    width: calc((100% - (20px * 4)) / 4);
    margin: calc(20px / 2);
    margin-top: calc(50px / 2);
    margin-bottom: calc(50px / 2);
  }
}

.normal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  font-style: normal;
  line-height: 1.3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  height: 44px;
  border-radius: 22px;
  padding: 0 22px;
  color: var(--accent-color);
  background-color: var(--main-bg-color);
  border: solid 1px var(--accent-color);
  margin: 0 auto;
}

.normal__btn:active, .normal__btn:focus, .normal__btn:hover {
  color: var(--inverted-text-color);
  background-color: var(--accent-color);
  border: solid 1px var(--accent-color);
}

.inverted__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  font-style: normal;
  line-height: 1.3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  height: 44px;
  border-radius: 22px;
  padding: 0 22px;
  color: var(--inverted-text-color);
  background-color: var(--accent-color);
  border: solid 1px var(--accent-color);
  margin: 0 auto;
}

.inverted__btn:active, .inverted__btn:focus, .inverted__btn:hover {
  color: var(--accent-color);
  background-color: var(--main-bg-color);
  border: solid 1px var(--accent-color);
}

.small-normal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  font-style: normal;
  line-height: 1.3;
  cursor: pointer;
  font-weight: 400;
  font-size: 8px;
  height: 24px;
  border-radius: 12px;
  padding: 0 12px;
  color: var(--accent-color);
  background-color: var(--main-bg-color);
  border: solid 1px var(--accent-color);
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .small-normal__btn {
    font-size: 14px;
    height: 40px;
    border-radius: 20px;
    padding: 0 22px;
  }
}

.small-normal__btn:active, .small-normal__btn:focus, .small-normal__btn:hover {
  color: var(--inverted-text-color);
  background-color: var(--accent-color);
  border: solid 1px var(--accent-color);
}

.small-inverted__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  font-style: normal;
  line-height: 1.3;
  cursor: pointer;
  font-weight: 400;
  font-size: 8px;
  height: 24px;
  border-radius: 12px;
  padding: 0 12px;
  color: var(--inverted-text-color);
  background-color: var(--accent-color);
  border: solid 1px var(--accent-color);
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .small-inverted__btn {
    font-size: 14px;
    height: 40px;
    border-radius: 20px;
    padding: 0 22px;
  }
}

.small-inverted__btn:active, .small-inverted__btn:focus, .small-inverted__btn:hover {
  color: var(--accent-color);
  background-color: var(--main-bg-color);
  border: solid 1px var(--accent-color);
}

.small-inverted-wide__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: inherit;
  font-style: normal;
  line-height: 1.3;
  cursor: pointer;
  width: 100%;
  font-weight: 400;
  font-size: 8px;
  height: 24px;
  border-radius: 12px;
  padding: 0 12px;
  color: var(--inverted-text-color);
  background-color: var(--accent-color);
  border: solid 1px var(--accent-color);
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .small-inverted-wide__btn {
    font-size: 14px;
    height: 40px;
    border-radius: 20px;
    padding: 0 22px;
  }
}

.small-inverted-wide__btn:active, .small-inverted-wide__btn:focus, .small-inverted-wide__btn:hover {
  color: var(--accent-color);
  background-color: var(--main-bg-color);
  border: solid 1px var(--accent-color);
}
/*# sourceMappingURL=main.css.map */