@mixin flex_center($display: flex) {
  display: $display;
  justify-content: center;
  align-items: center;
}

@mixin flex_grid($gap, $v_gap: null) {
  @include flex_center();
  flex-wrap: wrap;
  align-items: baseline;
  margin: calc(-1 * #{$gap} / 2);

  @if $v_gap {
    margin-top: calc(-1 * #{$v_gap} / 2);
    margin-bottom: calc(-1 * #{$v_gap} / 2);
  }
}
@mixin flex_grid_item($cols, $gap, $v_gap: null) {
  align-self: stretch;

  width: calc((100% - (#{$gap} * #{$cols})) / #{$cols});
  margin: calc(#{$gap} / 2);

  @if $v_gap {
    margin-top: calc(#{$v_gap} / 2);
    margin-bottom: calc(#{$v_gap} / 2);
  }
}

@mixin button($type: normal, $width: null) {
  @include flex_center();
  padding: 13px 16px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;

  cursor: pointer;

  border-radius: 5px;

  @if $width {
    width: $width;
  }

  @if $type == normal {
    color: var(--accent-color);
    background-color: transparent;
    border: solid 1px var(--accent-color);
  } @else if $type == inverted {
    color: var(--inverted-text-color);
    background-color: var(--accent-color);
    border: solid 1px var(--accent-color);
  } @else {
    color: var(--accent-color);
    background-color: transparent;
    border: solid 1px var(--accent-color);
  }

  &:active,
  &:focus,
  &:hover {
    @if $type == normal {
      color: var(--main-text-color);
      background-color: transparent;
      border: solid 1px var(--inverted-bg-color);
    } @else if $type == inverted {
      color: var(--accent-color);
      background-color: transparent;
      border: solid 1px var(--accent-color);
    } @else {
      color: var(--inverted-text-color);
      background-color: var(--accent-color);
      border: solid 1px var(--accent-color);
    }
  }
}
