// centers content of the element with flex parameter
@mixin flex_center($display: flex) {
  display: $display;
  justify-content: center;
  align-items: center;
}

// mixin for flex container
// $gap — (horizontal) gap
// $v_gap - vertical gap (if not defined, then equal to $gap)
@mixin flex_grid($gap, $v_gap: null) {
  @include flex_center();
  flex-wrap: wrap;
  align-items: baseline;
  margin: calc(-1 * #{$gap} / 2);

  @if $v_gap {
    margin-top: calc(-1 * #{$v_gap} / 2);
    margin-bottom: calc(-1 * #{$v_gap} / 2);
  }
}

// mixin for item in flex container
// $cols — number of colons, $gap — (horizontal) gap
// $v_gap - vertical gap (if not defined, then equal to $gap)
@mixin flex_grid_item($cols, $gap, $v_gap: null) {
  align-self: stretch;

  width: calc((100% - (#{$gap} * #{$cols})) / #{$cols});
  margin: calc(#{$gap} / 2);

  @if $v_gap {
    margin-top: calc(#{$v_gap} / 2);
    margin-bottom: calc(#{$v_gap} / 2);
  }
}

// mixin for buttons
// $type — normal, inverted, small-normal, small-inverted
// $width — if defined then ads fixed width parameter
@mixin button($type: normal, $width: null) {
  @include flex_center();

  font-family: inherit;
  font-style: normal;
  line-height: 1.3;

  cursor: pointer;

  @if $width {
    width: $width;
  }

  @if $type == normal {
    font-weight: 700;
    font-size: 16px;
    height: 44px;
    border-radius: 22px;
    padding: 0 22px;
    color: var(--accent-color);
    background-color: var(--main-bg-color);
    border: none;
  } @else if $type == inverted {
    font-weight: 700;
    font-size: 16px;
    height: 44px;
    border-radius: 22px;
    padding: 0 22px;
    color: var(--inverted-text-color);
    background-color: var(--accent-color);
    border: none;
  } @else if $type == small-normal {
    font-weight: 400;
    font-size: 8px;
    height: 24px;
    border-radius: 12px;
    padding: 0 12px;
    @media screen and ($desktop) {
      font-size: 14px;
      height: 40px;
      border-radius: 20px;
      padding: 0 22px;
    }
    color: var(--accent-color);
    background-color: var(--main-bg-color);
    border: none;
  } @else if $type == small-inverted {
    font-weight: 400;
    font-size: 8px;
    height: 24px;
    border-radius: 12px;
    padding: 0 12px;
    @media screen and ($desktop) {
      font-size: 14px;
      height: 40px;
      border-radius: 20px;
      padding: 0 22px;
    }
    color: var(--inverted-text-color);
    background-color: var(--accent-color);
    border: none;
  } @else {
    color: var(--accent-color);
    background-color: transparent;
    border: none;
  }

  &:active,
  &:focus,
  &:hover {
    @if ($type == normal or $type == small-normal) {
      color: var(--inverted-text-color);
      background-color: #ecebeb;
      border: none;
    } @else if ($type == inverted or $type == small-inverted) {
      color: var(--accent-color);
      background-color: var(--main-bg-color);
      border: none;
    } @else {
      color: var(--inverted-text-color);
      background-color: var(--accent-color);
      border: none;
    }
  }
}
