html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* elements resets */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Change autocomplete styles in WebKit */
// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// input:-webkit-autofill:active {
//   transition: background-color 5000s ease-in-out 0s;
//   -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
// }
