:root {
  --accent-font: 'Titan One', impact, sans-serif;
  --main-font: 'DM Sans', verdana, sans-serif;

  --primary-text-color: #000000;
  --secondary-text-color: #ffa5ba; //same for icons
  --inverted-text-color: #ffffff;
  --additional-text-color: #907e82;

  --accent-color: #d41443;

  --main-bg-color: #ffffff;
  --secondary-bg-color: #fff5f6;
  --hero-bg-color: #ffb8ca;
  --menu-bg-color: #e17992;
  --circle-bg-color: #ffa5ba;

  --card2-color: #f0d1a5;
  --card3-color: #c2e297;
  --quote-background-color: #fafafa;

  --shadow-params: 0px 8px 30px rgba(212, 20, 67, 0.1);
  --transition-params: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
