<section class="about__section">
  <div class="container">
    <p class="section__subtitle">tradition and love</p>
    <h2 class="section__heading">How it's made?</h2>
    <div class="about__thumb--cow">
      <picture>
        
        <source srcset="./images/about/cow-bottle@desktop1x.png 1x, ./images/about/cow-bottle@desktop2x.png 2x" media="(min-width:1280px)">
        <source srcset="./images/about/cow-bottle@tablet1x.png 1x, ./images/about/cow-bottle@tablet2x.png 2x" media="(min-width:768px)">
        <source srcset="./images/about/cow-bottle@mobile1x.png 1x, ./images/about/cow-bottle@mobile2x.png 2x" media="(max-width:767px)">            
        <img src="./images/about/cow-bottle@desktop1x.png" alt="cow and bottle of milk" class="about__image--cow">
      </picture>   
  </div>
  <div class="about__description">
    <p class="about__caption">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.Maecenas eleifend erat at justo fringilla.</p>
    <p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt. Aliquam erat volutpat.</p>
    <span class="about__note">Aenean accumsan.</span>
  </div>
  <div class="about__thumb--milk"></div>
  <button type="button" class="about__button">Read more
    <svg>
      <use href="./images/symbols.svg#icon-angle" ></use>
    </svg>
  </button>
</section>
