<section class="about__section" id="about">
  <div class="container">
    <p class="section__subtitle">tradition and love</p>
    <h2 class="section__heading about__heading">How it's made?</h2>
    <div class="about__box">
      <div class="about__thumb-cow">
        <picture>
          <source
            srcset="
              ./images/about/cow-bottle-desktop@1x.png 1x,
              ./images/about/cow-bottle-desktop@2x.png 2x
            "
          />
          <img
            src="./images/about/cow-bottle-desktop@1x.png"
            alt="cow and bottle of milk"
            class="about__image-cow"
          />
        </picture>
      </div>
      <div class="about__description">
        <p class="about__caption">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        </p>
        <span class="about__note"
          >Aliquam erat volutpat. Aenean accumsan<span id="about-dots" style="display: inline"
            >...</span
          ><span class="about__more is-hidden" id="about-more"
            >. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet asperiores delectus
            aut commodi tempora sapiente, voluptatum blanditiis nam distinctio cum earum corporis
            mollitia minus vel, obcaecati rem odio ipsa nulla.</span
          ></span
        >
        <button class="about__button" id="about-btn" onclick="readMore()">
          Read more
          <svg class="about__icon">
            <use href="./images/symbols.svg#icon-angle" class="icon-angle"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
