<section class="advantages__section">
  <div class="container container--advantages">
    <h2 class="section__heading visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <h3 class="advantages__name advantages__name--milk">721</h3>
        <p class="advantages__paragraphe">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__name advantages__name--fruit">16kg</h3>
        <p class="advantages__paragraphe">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__name advantages__name--icecream">84</h3>
        <p class="advantages__paragraphe">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
