<section class="contacts__section">
  <div class="container">
    <h2 class="section__heading visually-hidden">Contacts</h2>
    <ul class="contacts__section__list">
      <li class="contacts__section__item">
        <p class="contacts__section__item__title contacts__section__item__title--cafe">CAFE</p>

        <div class="contacts__section__item__block">
          <p class="contacts__section__item__town">Chicago</p>
          <p class="contacts__section__item__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__section__item__schedule">
          <li class="contacts__section__item__schedule__days">
            Monday - Friday
            <p class="contacts__section__item__schedule__days__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__section__item__schedule__days">
            Saturday - Sunday
            <p class="contacts__section__item__schedule__days__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__section__item__contacts">
          <li class="contacts__section__item__contacts__phone">
            <a href="tel:+610383766284" class="contacts__section__item__contacts__phone__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__section__item__contacts__mail">
            <a
              href="mailto:noreply@envato.com"
              class="contacts__section__item__contacts__mail__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__section__item">
        <p class="contacts__section__item__title contacts__section__item__title--foodtruck">
          FOODTRUCK
        </p>

        <div class="contacts__section__item__block">
          <p class="contacts__section__item__town">Los Angeles</p>
          <p class="contacts__section__item__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__section__item__schedule">
          <li class="contacts__section__item__schedule__days">
            Monday - Friday
            <p class="contacts__section__item__schedule__days__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__section__item__schedule__days">
            Saturday - Sunday
            <p class="contacts__section__item__schedule__days__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__section__item__contacts">
          <li class="contacts__section__item__contacts__phone">
            <a href="tel:+610383766284" class="contacts__section__item__contacts__phone__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__section__item__contacts__mail">
            <a
              href="mailto:noreply@envato.com"
              class="contacts__section__item__contacts__mail__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__section__item">
        <p class="contacts__section__item__title contacts__section__item__title--cafe">CAFE</p>

        <div class="contacts__section__item__block">
          <p class="contacts__section__item__town">New York</p>
          <p class="contacts__section__item__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <ul class="contacts__section__item__schedule">
          <li class="contacts__section__item__schedule__days">
            Monday - Friday
            <p class="contacts__section__item__schedule__days__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__section__item__schedule__days">
            Saturday - Sunday
            <p class="contacts__section__item__schedule__days__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>

        <ul class="contacts__section__item__contacts">
          <li class="contacts__section__item__contacts__phone">
            <a href="tel:+610383766284" class="contacts__section__item__contacts__phone__link"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__section__item__contacts__mail">
            <a
              href="mailto:noreply@envato.com"
              class="contacts__section__item__contacts__mail__link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__section__buttons">
      <li class="contacts__section__buttons__item">
        <button class="contacts__section__buttons__item__inverted-btn" type="button">
          Our Locations
          <svg class="contacts__section__buttons__item__inverted-btn__icon" width="7" height="10">
            <use href="./images/symbols.svg#icon-angle"></use>
          </svg>
        </button>
      </li>
      <li class="contacts__section__buttons__item">
        <button class="contacts__section__buttons__item__normal-btn" type="button">
          Franchise
          <svg class="contacts__section__buttons__item__normal-btn__icon" width="7" height="10">
            <use href="./images/symbols.svg#icon-angle"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
