<section class="customer__section">
  <div class="container">
    <h2 class="section__heading visually-hidden">Customer reviews</h2>
    <div class="slider">
      <article class="slider__item">
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/illya-bondar.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit
            nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer__title">
          Illya, Team Lead
        </p>
      </article>
      <article class="slider__item">
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/alexandra-sabatin.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            I love the Ice Cream cafe! They offer great flavors, have excellent customer service and are all around a
            great
            experience! I love their milkshakes.
          </p>
        </div>
        <p class="customer__title">
          Alexandra, Scrum Master
        </p>
      </article>
      <article class="slider__item">
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/ruslan-chuprov.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit
            nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer__title">
          Ruslan, Developer
        </p>
      </article>
      <article class="slider__item">
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/sherzod-abdullaev.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit
            nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer__title">
          Sherzod, Developer
        </p>
      </article>
      <article class="slider__item">
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/anna-lahoda.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit
            nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer__title">
          Anna, Developer
        </p>
      </article>
      <article class="slider__item">
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/olha-pohorielova.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit
            nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer__title">
          Olha, Developer
        </p>
      </article>
      <article class="slider__item">
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/serhii.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit
            nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="customer__title">
          Serhii, Developer
        </p>
      </article>
      <article class="slider__item">
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/olena-bondiuchna.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            I liked the Ice Cream cafe 'cause of their fast delivery and good client service. And, of course, their
            ice-cream is
            really delicious. It's the best way to deal with the autumn and winter depression!🖤
          </p>
        </div>
        <p class="customer__title">
          Olena, Developer
        </p>
      </article>
      <article class="slider__item">
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/vladyslav-kolesnychenko.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            Once Ice Cream Cafe - always Ice Cream Cafe. You should try it just once, and you will be dreaming of it all
            the time.
          </p>
        </div>
        <p class="customer__title">
          Vladyslav, Developer
        </p>
      </article>
      <article class="slider__item">
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/yevhen-lipinskyi.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            I really liked the service and the ability to deliver my favorite sweets directly to your hands. The taste
            of
            ice cream
            is divine. Ice Cream Cafe you are the best!
          </p>
        </div>
        <p class="customer__title">
          Yevhen, Developer
        </p>
      </article>
    </div>
</section>