<section class="customer__section">
  <div class="container">
    <h2 class="section__heading visually-hidden">Customer reviews</h2>
    <div class="slider">
      <article class="slider__item">
        <h3 class="review__title" hidden>Greatest icecream in the world</h3>
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/illya-bondar.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            Icecream is not the greatest thing in the world, but sometimes it's good to have one to understand — it is
            certainly not the greatest thing in the world.
          </p>
        </div>
        <p class="customer__title">
          Illya, Kyiv
        </p>
      </article>
      <article class="slider__item">
        <h3 class="review__title" hidden>About milkshakes</h3>
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/alexandra-sabatin.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            I love the Ice Cream cafe! They offer great flavors, have excellent customer service and are all around a
            great
            experience! I love their milkshakes.
          </p>
        </div>
        <p class="customer__title">
          Alexandra, Kyiv
        </p>
      </article>
      <article class="slider__item">
        <h3 class="review__title" hidden>Icecream poetry</h3>
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/ruslan-chuprov.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            You are my dear, decadent desert,
            My summer-thyme delight; Starlight.
            Tonight’s your night, for you I write.
            Radiant glow, fuzzed herbal hue.
            My dear butterscotch icecream.
          </p>
        </div>
        <p class="customer__title">
          Ruslan, Zaporizhzhya
        </p>
      </article>
      <article class="slider__item">
        <h3 class="review__title" hidden>Family choice</h3>
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/sherzod-abdullaev.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            Ice cream is a love from first bite. There is the best desert for everybody specially for kids.
            My kids love to mix and tasty different flavours. This cafe become our favorite place to spent a perfect
            family day.
          </p>
        </div>
        <p class="customer__title">
          Sherzod, Stockholm
        </p>
      </article>
      <article class="slider__item">
        <h3 class="review__title" hidden>the most delicious ice cream</h3>
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/anna-lahoda.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            This is the most delicious ice cream I have ever tasted! And the milkshakes are just amazing! Thanks to the
            delivery
            from the Ice Cream, you can get the most delicious sweets without leaving your home.
          </p>
        </div>
        <p class="customer__title">
          Anna, Kyiv
        </p>
      </article>
      <article class="slider__item">
        <h3 class="review__title" hidden>the most delicious ice cream</h3>
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/olha-pohorielova.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            Love ice cream? Hate dieting? Ice Cream got you covered - a lower calorie treat yet creamy and full of
            surprises.
            Afters Ice Cream has tons of tasty flavors and some are bright in color!
          </p>
        </div>
        <p class="customer__title">
          Olha, Odessa
        </p>
      </article>
      <article class="slider__item">
        <h3 class="review__title" hidden>the most delicious ice cream</h3>
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/serhii.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            This ice cream was really tasty and I could reccomend it to my friends. Shortly points about the
            delivery-service, I
            could say that it was as fast as it could be. Great service!
          </p>
        </div>
        <p class="customer__title">
          Serhii, Kyiv
        </p>
      </article>
      <article class="slider__item">
        <h3 class="review__title" hidden>the best way to deal with the autumn and winter depression</h3>
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/olena-bondiuchna.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            I liked the Ice Cream cafe 'cause of their fast delivery and good client service. And, of course, their
            ice-cream is
            really delicious. It's the best way to deal with the autumn and winter depression!🖤
          </p>
        </div>
        <p class="customer__title">
          Olena, Kyiv
        </p>
      </article>
      <article class="slider__item">
        <h3 class="review__title" hidden>Once Ice Cream Cafe - always Ice Cream Cafe.</h3>
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/vladyslav-kolesnychenko.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            Once Ice Cream Cafe - always Ice Cream Cafe. You should try it just once, and you will be dreaming of it all
            the time.
          </p>
        </div>
        <p class="customer__title">
          Vladyslav, Kyiv
        </p>
      </article>
      <article class="slider__item">
        <h3 class="review__title" hidden>deliver my favorite sweets directly to your hands.</h3>
        <div class="photo-thumb">
          <img class="customer__photo" src="./images/customer/yevhen-lipinskyi.jpg" alt="customer__photo">
        </div>
        <div class="review__wrap">
          <p class="customer__review">
            I really liked the service and the ability to deliver my favorite sweets directly to your hands. The taste
            of
            ice cream
            is divine. Ice Cream Cafe you are the best!
          </p>
        </div>
        <p class="customer__title">
          Yevhen, Vyshhorod
        </p>
      </article>
    </div>
</section>