<section class="customer__section">
  <div class="container">
    <h2 class="section__heading visually-hidden">Customer reviews</h2>
    <div class="customer__card">
      <img class="customer__photo" src="../src/images/customer/customer.jpg" alt="customer__photo" height="85px"
        width="85px">
      <p class="customer__review">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
        hendrerit
        nulla quam nunc, accumsan
        congue. Lorem ipsum primis in nibh vel risus.</p>
      <p class="customer__title">
        Emily, Los Angeles
      </p>
      <ul class="slider">
        <li class="slider__item"><button class="slider__button"></button></li>
        <li class="slider__item"><button class="slider__button"></button></li>
        <li class="slider__item"><button class="slider__button"></button></li>
      </ul>
    </div>
  </div>
</section>