<!-- <section class="example__header">
  <ul class="example__menu">
    <li class="example__link">Sweet</li>
    <li class="example__link">Home</li>
    <li class="example__link">Alabama</li>
    <li class="example__link">////////</li>
  </ul>
</section> -->

<!-- этот див между секциями (или между хедером и main) -->
<!-- <div class="example__background"></div>

<section class="example__section">
  <div class="container example__container">
    <p class="section__subtitle">look how these mixins work!</p>
    <h2 class="section__heading example__heading">temporary example section</h2>
    <ul class="example__buttons">
      <li class="example__item">
        <button type="button" class="normal__btn">normal</button>
      </li>
      <li class="example__item">
        <button type="button" class="inverted__btn">inverted</button>
      </li>
      <li class="example__item">
        <button type="button" class="small-normal__btn">small-normal</button>
      </li>
      <li class="example__item">
        <button type="button" class="small-inverted__btn">small-inverted</button>
      </li>
      <li class="example__item">
        <button type="button" class="small-inverted-wide__btn">small-inverted</button>
      </li>
    </ul>
  </div>
</section> -->
