<section class="gallery__section" id="gallery">
  <div class="container">
    <h2 class="section__heading visually-hidden">Gallery</h2>
    <img
      class="gallery__mobile"
      srcset="./images/gallery/gallery@1x.png 1x, ./images/gallery/gallery@2x.png 2x"
      src="./images/gallery/gallery@1x.png"
      alt="gallery"
    />
    <div class="grid">
      <div class="grid__item">
        <img
          srcset="./images/gallery/gallery-img1@1x.jpg 1x, ./images/gallery/gallery-img1@2x.jpg 2x"
          src="./images/gallery/gallery-img1@1x.jpg"
          alt="icecream"
        />
      </div>
      <div class="grid__item">
        <img
          srcset="./images/gallery/gallery-img2@1x.jpg 1x, ./images/gallery/gallery-img2@2x.jpg 2x"
          src="./images/gallery/gallery-img2@1x.jpg"
          alt="icecream"
        />
      </div>
      <div class="grid__item">
        <img
          srcset="./images/gallery/gallery-img3@1x.jpg 1x, ./images/gallery/gallery-img3@2x.jpg 2x"
          src="./images/gallery/gallery-img3@1x.jpg"
          alt="icecream"
        />
      </div>
      <div class="grid__item">
        <img
          srcset="./images/gallery/gallery-img4@1x.jpg 1x, ./images/gallery/gallery-img4@2x.jpg 2x"
          src="./images/gallery/gallery-img4@1x.jpg"
          alt="icecream"
        />
      </div>
      <div class="grid__item">
        <img
          srcset="./images/gallery/gallery-img5@1x.jpg 1x, ./images/gallery/gallery-img5@2x.jpg 2x"
          src="./images/gallery/gallery-img5@1x.jpg"
          alt="icecream"
        />
      </div>
      <div class="grid__item">
        <img
          srcset="./images/gallery/gallery-img6@1x.jpg 1x, ./images/gallery/gallery-img6@2x.jpg 2x"
          src="./images/gallery/gallery-img6@1x.jpg"
          alt="icecream"
        />
      </div>
      <div class="grid__item">
        <img
          srcset="./images/gallery/gallery-img7@1x.jpg 1x, ./images/gallery/gallery-img7@2x.jpg 2x"
          src="./images/gallery/gallery-img7@1x.jpg"
          alt="icecream"
        />
      </div>
      <div class="grid__item">
        <img
          srcset="./images/gallery/gallery-img8@1x.jpg 1x, ./images/gallery/gallery-img8@2x.jpg 2x"
          src="./images/gallery/gallery-img8@1x.jpg"
          alt="icecream"
        />
      </div>
      <div class="grid__item">
        <img
          srcset="./images/gallery/gallery-img9@1x.jpg 1x, ./images/gallery/gallery-img9@2x.jpg 2x"
          src="./images/gallery/gallery-img9@1x.jpg"
          alt="icecream"
        />
      </div>
      <div class="grid__item">
        <img
          srcset="
            ./images/gallery/gallery-img10@1x.jpg 1x,
            ./images/gallery/gallery-img10@2x.jpg 2x
          "
          src="./images/gallery/gallery-img10@1x.jpg"
          alt="icecream"
        />
      </div>
    </div>
  </div>
</section>
