<header class="header__section">
    <div class="container header__container">
        <div class="header__wrap">
            <a href="" class="header__logo">
                <span class="header__logo--wrap">
                <svg class="header__logo--icon" width="50" height="50">
                    <use href="./images/symbols.svg#icon-logo"></use>
                </svg>
                </span>
                icecream</a>
            <nav class="nav">
                <ul class="header__nav--list">
                    <li class="header__nav--item"><a href="" class="header__nav--link">Home</a></li>
                    <li class="header__nav--item"><a href="" class="header__nav--link">About us</a></li>
                    <li class="header__nav--item"><a href="" class="header__nav--link">How it’s made?</a></li>
                    <li class="header__nav--item"><a href="" class="header__nav--link">Our products</a></li>
                    <li class="header__nav--item"><a href="" class="header__nav--link">Contact</a></li>
                </ul>
            </nav>            
        </div>
        
            <button class="js-open-menu open-button">
                <svg class="open-button__icon-menu" width="40" height="40">
                    <use href="./images/symbols.svg#icon-menu"></use>
                </svg>
            </button>     
            
            <button type="button" class="btn-order">Buy now
                <svg class="btn-order__icon">
                    <use class="icon-angle" href="./images/symbols.svg#icon-angle"></use>
                </svg>
            </button>

    </div>
</header>
<div class="header__background"></div>