<header class="header__section">
    <div class="container">
        <a href="" class="header__logo">icecream</a>
        <nav class="nav">
            <ul class="header__nav--list">
                <li class="header__nav--item"><a href="" class="nav__list">Home</a></li>
                <li class="header__nav--item"><a href="" class="nav__list">About us</a></li>
                <li class="header__nav--item"><a href="" class="nav__list">How it’s made?</a></li>
                <li class="header__nav--item"><a href="" class="nav__list">Our products</a></li>
                <li class="header__nav--item"><a href="" class="nav__list">Contact</a></li>
            </ul>

            <button class="js-close-menu close-button">
                <svg class="close-button__icon-menu" width="40" height="40">
                    <use href="./images/symbols.svg#icon-menu"></use>
                </svg>
            </button>

        </nav>

    </div>
</header>