<div class="menu-box js-menu-box" id="mobile-menu" data-menu>
  <button type="button" class="menu__btn-close js-close-menu">
    <svg class="menu__icon" aria-label="Mobile menu toggle">
      <use class="icon-close" href="./images/symbols.svg#icon-close"></use>
    </svg>
  </button>

  <button type="button" class="btn-order" data-order-modal-open-menu>
    Buy now
    <svg class="btn-order__icon">
      <use class="icon-angle" href="./images/symbols.svg#icon-angle"></use>
    </svg>
  </button>

  <div class="menu__wrap">
    <ul class="menu js-menu-links">
      <li class="menu__item">
        <a class="menu__link menu__link--active" href="#hero">Home</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#gallery">About us</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#about">How it's made?</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#products">Our products</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#contacts">Contact</a>
      </li>
    </ul>
  </div>
</div>
