<div class="backdrop is-hidden" data-franchise-modal>
	<div class="modal modal--franchise">
		<button type="button" class="modal__btn-close" aria-label="Close" data-franchise-modal-close>
			<svg class="icon__close">
				<use href="./images/symbols.svg#icon-close"></use>
			</svg>
		</button>
	
		<div class="mod-franchise__wrap">
			<form action="#" class="form mod-franchise__form">
				<p class="form__subtitle section__heading"> We are open for partnership and offer favorable franchising
					conditions
				</p>
				<p class="form__title section__heading">Join to us</p>
				<div class="form__field">
					<label class="form__label" for="user-name">Your Name*</label>
					<input id="user-name" type="text" name="name" class="form__input" required />
				</div>
				<div class="form__field">
					<label class="form__label" for="user-email">Your Email*</label>
					<input id="user-email" type="email" name="email" class="form__input" required />
				</div>
				<div class="form__field">
					<label class="form__label form__label--select" for="select">Country</label>
					<select class="form__control" id="select">
						<option selected value="UA">Ukraine</option>
						<option value="GB">United Kingdom</option>
						<option value="US">United States</option>
						<option value="UY">Urugvay</option>
						<option value="UZ">Uzbekistan</option>
						<option value="VU">Vanuatu</option>
						<option value="VE">Venezuela</option>
						<option value="VN">Viet Nam</option>
						<option value="YE">Yemen</option>
					</select>
				</div>
				<div class="form__field form__field--textarea">
					<label class="form__label" for="comment">Comment</label>
					<textarea class="form__textarea" name="comment" id="comment"
						placeholder="Enter your comment"></textarea>
				</div>
	
				<button type="submit" class="modal__btn">
					Submit
				</button>
			</form>

			<div class="modal-fr__pic">
				<picture>
					<source
						srcset="./images/products/products-ice-cream-desktop@1x.png 1x, ./images/products/products-ice-cream-desktop@2x.png 2x">
					<img src="./images/products/products-ice-cream-desktop@1x.png" alt="pink ice cream with strawberry"
						class="modal-fr__img">
				</picture>
			</div>
		</div>
		
	</div>
</div>
