<div class="backdrop is-hidden" franchise-modal>
	<div class="modal modal--franchise">
		<button class="modal__btn-close" aria-label="Close" franchise-modal-close>
			<svg class="icon__close">
				 <use href="./images/symbols.svg#icon-close"></use>
			</svg>
	  </button>
<div class="mod-franchise__wrap">
	<form action="#" class="form mod-franchise__form">
		<p class="form__title section__heading">
		  Join to us
		</p>
		 <div class="form__field">
				<label class="form__label" for="user-name">Your Name*</label>
				<input
					id="user-name"
					 type="text"
					 name="name"
					 class="form__input" required/>
		  </div>
		<div class="form__field form__field--franchise">
		<label class="form__label" for="user-email">Your Email*</label>	
				<input
					 id="user-email"
					 type="email"
					 name="email"
					 class="form__input" required/>
		</div>
				<button type="submit" class="modal__btn">
					 Submit
				</button>		
	 </form>
	 <div class="modal-fr__pic">
	 <picture">
		<source srcset="./images/products/products-ice-cream-desktop@1x.png 1x, ./images/products/products-ice-cream-desktop@2x.png 2x">          
				 <img src="./images/products/products-ice-cream-desktop@1x.png" alt="pink ice cream with strawberry" class="modal-fr__img">
	</picture>
</div>	
	</div>
</div>
	</div>
</div>