<div class="backdrop is-hiddan" franchise-modal>
	<div class="modal">
		<p class="modal__subtitle">Ava franchise</p>
		 <h2 class="modal__title">
			Join to Us
		 </h2>
		 <form action="#" class="form">
			 <div class="input-group">
					<label class="input-group__label" for="fio">User Name</label>
			  <div class="input-group__absolute">
					<input
						id="fio"
						 type="text"
						 name="name"
						 class="input-group__input"/>
			  </div>
			</div>
			<div class="input-group">
			<label class="input-group__label" for="post">User Email</label>	
			  <div class="input-group__absolute">
					<input
						 id="post"
						 type="email"
						 name="email"
						 class="input-group__input"/>
			  </div>
			</div>
					<button type="submit" class="primary-button">
						 Submit
					</button>
		 </form>
		 <button class="close-button" franchise-modal-close>
			  <svg width="18" height="18" class="close-button__icon">
					<use href="./images/symbols.svg#icon-close"></use>
			  </svg>
		 </button>
<picture class="modal__img">
	<source srcset="./images/products-ice-cream-mobile@1x.png 1x, ./images/products-ice-cream-mobile@2x.png 2x">          
          <img src="./images/products-ice-cream-mobile@1x.png" alt="pink ice cream with strawberry" class="pink-icecream__image">
</picture>
</div>
</div>