<div class="backdrop is-hidden" data-order-modal>
  <div class="modal modal-order">
    <button class="modal__btn-close" aria-label="Close" data-order-modal-close>
      <svg class="icon__close">
        <use href="./images/symbols.svg#icon-close"></use>
      </svg>
    </button>

    <form action="#" class="form">
      <p class="form__title section__heading">Choose your ice cream</p>

      <div class="form__field">
        <label for="name" class="form__label">Your Name*</label>
        <input class="form__input" type="text" name="name" id="name" required />
      </div>

      <div class="form__field form__field--phone">
        <label for="phone" class="form__label">Your Phone*</label>
        <input class="form__input" type="tel" name="phone" id="phone" required />
      </div>

      <div class="form__field form__field--email">
        <label for="email" class="form__label">Your Email</label>
        <input class="form__input" type="email" name="email" id="email" />
      </div>

      <div class="form__field form__field--delivery">
        <label for="address" class="form__label">Delivery Address*</label>
        <input class="form__input" type="text" name="address" id="address" required />
      </div>

      <div class="form__field">
        <label for="icecream" class="form__label">Ice Cream</label>
        <div class="form__wrap">
          <input
            class="form__input form__input--icon"
            type="text"
            name="icecream"
            id="icecream"
            placeholder="Enter what kind of ice cream"
          />
          <svg class="form__icon" width="18" height="18">
            <use href="./images/symbols.svg#icon-icecream1"></use>
          </svg>
        </div>
      </div>

      <div class="form__field">
        <label for="icecoffee" class="form__label">Ice Coffee</label>
        <div class="form__wrap">
          <input
            class="form__input form__input--icon"
            type="text"
            name="icecoffee"
            id="icecoffee"
            placeholder="Enter what kind of ice coffee"
          />
          <svg class="form__icon" width="18" height="18">
            <use href="./images/symbols.svg#icon-icecoffee"></use>
          </svg>
        </div>
      </div>

      <div class="form__field form__field--textarea">
        <label for="milkshake" class="form__label">Milkshake</label>
        <div class="form__wrap">
          <input
            class="form__input form__input--icon"
            type="text"
            name="milkshake"
            id="milkshake"
            placeholder="Enter what kind of milkshake"
          />
          <svg class="form__icon" width="18" height="18">
            <use href="./images/symbols.svg#icon-milkshake"></use>
          </svg>
        </div>
      </div>

      <div class="form__checkbox">
        <input
          class="form__input-checkbox"
          type="checkbox"
          name="agreement"
          id="agreement"
          value="yes"
        />
        <label for="agreement" class="form__label-checkbox">
          <svg class="form__icon-check" width="16" height="15">
            <use href="./images/symbols.svg#icon-check"></use>
          </svg>
          <span>I accept the <a class="form__link" href="">terms of an agreement</a></span>
        </label>
      </div>

      <button class="modal__btn" type="submit">
        Submit
        <svg class="btn__icon">
          <use class="icon-icetruck" href="./images/symbols.svg#icon-icetruck"></use>
        </svg>
      </button>
    </form>
  </div>
</div>
