<div class="backdrop is-hidden" data-location-modal>
  <div class="modal modal--map">
    <p class="section__heading modal-map__title">How to find us</p>
    <iframe
      class="modal-map__location"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d635.2265259357334!2d30.5213067!3d50.4428496!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf7b7b58de3f%3A0xe8e3b0f56f5355e9!2sIceCream%20Gelateria!5e0!3m2!1sru!2sua!4v1642283888037!5m2!1sru!2sua"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
    <button class="modal__btn-close" aria-label="Close" data-location-modal-close>
      <svg class="icon__close">
        <use href="./images/symbols.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
