<section class="products__section" id="products">
  <div class="container">
    <p class="section__subtitle">100% natural</p>
    <h2 class="section__heading section__heading--products">Products</h2>
    <ul class="products-cards__list">
      <li class="products-cards__item products-cards__item--rose">
        <div class="products-cards__wrap">
          <h3 class="products-cards__title products-cards__title--rose">ice cream</h3>
          <p class="products-cards__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__button">
            <svg class="products__button-icon" width="15" height="15">
              <use href="./images/symbols.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-cards__item products-cards__item--yellow">
        <div class="products-cards__wrap">
          <h3 class="products-cards__title products-cards__title--yellow">ice coffee</h3>
          <p class="products-cards__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__button">
            <svg class="products__button-icon" width="15" height="15">
              <use href="./images/symbols.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products-cards__item products-cards__item--green">
        <div class="products-cards__wrap">
          <h3 class="products-cards__title products-cards__title--green">milkshakes</h3>
          <p class="products-cards__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button type="button" class="products__button">
            <svg class="products__button-icon" width="15" height="15">
              <use href="./images/symbols.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
