<section class="products__section" id="products">
  <div class="container container--products">
    <p class="section__subtitle">100% natural</p>
    <h2 class="section__heading section__heading--products">Products</h2>
    <ul class="products-cards__list">
      <li class="products-cards__item">
        <div class="products-cards__wrap products-cards__wrap--rose">
          <div class="products-cards__flip-front">
            <h3 class="products-cards__title">ice cream</h3>
            <p class="products-cards__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button type="button" class="products__button">
              <svg class="products__button-icon" width="15" height="15">
                <use href="./images/symbols.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="products-cards__flip-back">
            <p class="products-cards__flip-back-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tempore ipsam enim
              doloremque autem eaque necessitatibus tempora, molestiae beatae eum iste esse quia
              reprehenderit?
            </p>
          </div>
        </div>
      </li>
      <li class="products-cards__item">
        <div class="products-cards__wrap products-cards__wrap--yellow">
          <div class="products-cards__flip-front">
            <h3 class="products-cards__title">ice coffee</h3>
            <p class="products-cards__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button type="button" class="products__button">
              <svg class="products__button-icon" width="15" height="15">
                <use href="./images/symbols.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="products-cards__flip-back">
            <p class="products-cards__flip-back-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tempore ipsam enim
              doloremque autem eaque necessitatibus tempora, molestiae beatae eum iste esse quia
              reprehenderit?
            </p>
          </div>
        </div>
      </li>
      <li class="products-cards__item flip">
        <div class="products-cards__wrap products-cards__wrap--green">
          <div class="products-cards__flip-front">
            <h3 class="products-cards__title">milkshakes</h3>
            <p class="products-cards__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button type="button" class="products__button">
              <svg class="products__button-icon" width="15" height="15">
                <use href="./images/symbols.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="products-cards__flip-back">
            <p class="products-cards__flip-back-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto tempore ipsam enim
              doloremque autem eaque necessitatibus tempora, molestiae beatae eum iste esse quia
              reprehenderit?
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
