<section class="products__section" id="products">
  <div class="container container--products">
    <p class="section__subtitle">100% natural</p>
    <h2 class="section__heading section__heading--products">Products</h2>
    <ul class="products-cards__list">
      <li class="products-cards__item" id="card-rose">
        <div class="products-cards__wrap products-cards__wrap--rose">
          <div class="products-cards__flip-front">
            <h3 class="products-cards__title">ice cream</h3>
            <p class="products-cards__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button type="button" class="products__button">
              <svg class="products__button-icon" width="15" height="15">
                <use href="./images/symbols.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="products-cards__flip-back">
            <p class="products-cards__flip-back-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda possimus, facilis
              ea consectetur laudantium modi libero distinctio nobis impedit voluptatum iusto
              perspiciatis numquam blanditiis et quasi suscipit omnis ut maxime. Explicabo eos
              possimus, quas nulla, reiciendis natus deleniti iusto assumenda cupiditate adipisci
              minima accusantium sequi tempore, asperiores sapiente repellat consectetur est itaque
              alias excepturi? Minus modi ipsa nisi soluta ullam? Ipsam eveniet facere laborum animi
              dolore ipsa minus accusantium ab possimus. Quibusdam asperiores illum quis quam totam
              eaque dolorem dolor necessitatibus, corporis aliquid dignissimos, dicta odit
              repudiandae at, provident quas?
            </p>
            <button type="button" class="products__button">
              <svg class="products__button-icon products__button-icon--back" width="15" height="15">
                <use href="./images/symbols.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="products-cards__item" id="card-yellow">
        <div class="products-cards__wrap products-cards__wrap--yellow">
          <div class="products-cards__flip-front">
            <h3 class="products-cards__title">ice coffee</h3>
            <p class="products-cards__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button type="button" class="products__button">
              <svg class="products__button-icon" width="15" height="15">
                <use href="./images/symbols.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="products-cards__flip-back">
            <p class="products-cards__flip-back-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda possimus, facilis
              ea consectetur laudantium modi libero distinctio nobis impedit voluptatum iusto
              perspiciatis numquam blanditiis et quasi suscipit omnis ut maxime. Explicabo eos
              possimus, quas nulla, reiciendis natus deleniti iusto assumenda cupiditate adipisci
              minima accusantium sequi tempore, asperiores sapiente repellat consectetur est itaque
              alias excepturi? Minus modi ipsa nisi soluta ullam? Ipsam eveniet facere laborum animi
              dolore ipsa minus accusantium ab possimus. Quibusdam asperiores illum quis quam totam
              eaque dolorem dolor necessitatibus, corporis aliquid dignissimos, dicta odit
              repudiandae at, provident quas?
            </p>
            <button type="button" class="products__button">
              <svg class="products__button-icon products__button-icon--back" width="15" height="15">
                <use href="./images/symbols.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
      <li class="products-cards__item" id="card-green">
        <div class="products-cards__wrap products-cards__wrap--green">
          <div class="products-cards__flip-front">
            <h3 class="products-cards__title">milkshakes</h3>
            <p class="products-cards__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button type="button" class="products__button my-button">
              <svg class="products__button-icon" width="15" height="15">
                <use href="./images/symbols.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
          <div class="products-cards__flip-back">
            <p class="products-cards__flip-back-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda possimus, facilis
              ea consectetur laudantium modi libero distinctio nobis impedit voluptatum iusto
              perspiciatis numquam blanditiis et quasi suscipit omnis ut maxime. Explicabo eos
              possimus, quas nulla, reiciendis natus deleniti iusto assumenda cupiditate adipisci
              minima accusantium sequi tempore, asperiores sapiente repellat consectetur est itaque
              alias excepturi? Minus modi ipsa nisi soluta ullam? Ipsam eveniet facere laborum animi
              dolore ipsa minus accusantium ab possimus. Quibusdam asperiores illum quis quam totam
              eaque dolorem dolor necessitatibus, corporis aliquid dignissimos, dicta odit
              repudiandae at, provident quas?
            </p>
            <button type="button" class="products__button">
              <svg class="products__button-icon products__button-icon--back" width="15" height="15">
                <use href="./images/symbols.svg#icon-arrow"></use>
              </svg>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
