.container {
  margin: 0 auto;
  padding: 0 20px;

  @media screen and ($mobile) {
    min-width: 320px;
    max-width: 480px;
  }

  @media screen and ($tablet) {
    width: 768px;
  }

  @media screen and ($desktop) {
    width: 1200px;
  }
}
