.contacts__section {
  background-image: linear-gradient(
    to bottom,
    var(--main-bg-color) 8%,
    var(--main-bg-color) 8%,
    var(--secondary-bg-color) 8%
  );
  padding: 45px 0;
}
.contacts {
  @extend %list;
  padding-bottom: 54px;
  @media screen and ($tablet) {
    display: flex;
    margin: -10px;
  }

  &__item {
    padding: 45px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 220px;
    background: #ffffff;
    box-shadow: var(--shadow-params);
    border-radius: 24px;
    @media screen and ($mobile) {
      &:last-child {
        margin-bottom: 0;
      }
    }
    @media screen and ($tablet) {
      padding: 50px 31px;
      margin: 10px;
    }
  }
  &__header {
    padding: 25px 0;
    border-bottom: 1px solid #e1e1e1;
    @media screen and ($tablet) {
      padding: 30px 0;
    }
  }
  &__town {
    font-family: var(--main-font);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    @media screen and ($tablet) {
      font-size: 14px;
    }
  }
  &__text {
    font-family: var(--main-font);
    color: var(--additional-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    @media screen and ($tablet) {
      font-size: 14px;
    }
  }
  &__links {
    padding-top: 25px;
    @extend %list;
    font-family: var(--main-font);
    color: var(--additional-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    @media screen and ($tablet) {
      font-size: 14px;
      line-height: 1.8;
    }
  }
  &__link {
    @extend %link;
    transition: color var(--transition-params);
  }
  &__title {
    display: inline-flex;
    align-items: center;
    height: 16px;
    padding: 0px 24px;
    border-radius: 4px;

    font-family: var(--main-font);
    color: var(--main-bg-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    @media screen and ($tablet) {
      height: 28px;
      font-size: 16px;
      padding: 0 18px;
    }
    &--cafe {
      background-color: var(--card2-color);
      text-transform: uppercase;
    }
    &--foodtruck {
      background-color: var(--card3-color);
      text-transform: uppercase;
    }
  }
}

.schedule {
  padding: 25px 0;
  border-bottom: 1px solid #e1e1e1;

  &__days {
    font-family: var(--main-font);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    @media screen and ($tablet) {
      font-size: 14px;
    }
  }
  &__time {
    color: var(--circle-bg-color);
    @media screen and ($tablet) {
      font-size: 14px;
    }
  }
  @extend %list;
}
.btn {
  @extend %list;
  @media screen and ($tablet) {
    @include flex_grid(20px);
  }
  @media screen and ($desktop) {
    @include flex_grid(20px, 50px);
  }
  &__item {
    @media screen and ($mobile) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @media screen and ($tablet) {
      @include flex_grid_item(2, 20px);
    }
    &--inverted {
      @include button(inverted);
      margin: 0 auto;
      padding: 0;
      width: 161px;

      transition: color var(--transition-params), background-color var(--transition-params);
    }
    &--normal {
      @include button(normal);
      margin: 0 auto;
      padding: 0;
      width: 161px;

      transition: color var(--transition-params), background-color var(--transition-params);
    }
  }
  &__icon {
    &--inverted {
      fill: currentColor;
      margin-left: 8px;
    }
    &--normal {
      fill: currentColor;
      margin-left: 13px;
    }
  }
}
