.customer {
  padding-top: 40px;
  padding-bottom: 60px;
  &__section {
    text-align: center;
  }
  &__photo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 29px;
  }
  &__review {
    position: relative;
    margin-bottom: 52px;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    background-color: #fafafa;
    background-size: 31px 31px;
    background-image: linear-gradient(to top, #e1e1e1 1px, #e1e1e1 1px, transparent 1px);
  }
  &__title {
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
  }
}
.review__wrap {
  padding: 43px 62px 26px 62px;
}
.slider {
  @extend %list;
  display: flex;
  justify-content: center;
  gap: 18px;
  &__item {
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: #d9d9d9;
    &:hover {
      background-color: var(--accent-color);
    }
  }
}
.review-icon {
  position: absolute;
}
