.footer__section {
  background-color: var(--secondary-bg-color);
}

.footer__container {
  padding-top: 56px;
  padding-bottom: 43px;
}

.footer__blocks {
  @media screen and ($tablet) {
    @include flex_grid(36px);
  }

  @media screen and ($desktop) {
    @include flex_grid(72px);
  }
}

.footer__slogan {
  width: 234px;
  margin-bottom: 43px;
}

.footer__contacts {
  text-align: right;
}

.footer__text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86;

  letter-spacing: 0.02em;
}

.footer__link {
  @extend %link;
  color: var(--accent-color);

  &:active,
  &:focus,
  &:hover {
    color: var(--secondary-text-color);
  }
}

.social__menu {
  @extend %list;

  display: inline-flex;
  flex-wrap: nowrap;

  margin-bottom: 46px;
}

.social__item {
  width: 34px;
  height: 34px;
  padding: 7px;
  border-radius: 17px;
  color: var(--inverted-text-color);
  background-color: var(--secondary-text-color);

  &:active,
  &:focus,
  &:hover {
    background-color: var(--accent-color);
  }

  &:not(:last-child) {
    margin-right: 24px;
  }
}

.social__link {
  @extend %link_no_accent;
  display: block;

  text-align: center;
  color: inherit;
}

.social__icon {
  width: 20px;
  max-height: 20px;

  fill: currentColor;
}

.legal__wrapper {
  @include flex_center;
  height: 90px;
  border-top: 1px solid #e1e1e1;
}

.legal__text {
  width: 150px;

  color: var(--additional-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
}
