// Example Burger Button

.menu__btn-burger {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  @media screen and ($desktop) {
    display: none;
  }

  .menu__icon {
    width: 20px;
    height: 12px;
    fill: var(--accent-color);
  }
}
