.header {
  &__section {
    position: fixed;
    z-index: 30;
    top: 0;
    width: 100%;
  }

  &__container {
    height: 60px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and ($tablet) {
      width: 768px;
      height: 94px;
      padding-left: 34px;
      padding-right: 34px;
    }
    @media screen and ($desktop) {
      width: 100%;
      max-width: 1440px;
      height: 94px;
      padding-left: 46px;
      padding-right: 46px;
    }
  }

  &__logo {
    @extend %link;
    color: var(--accent-color);

    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.04em;
    line-height: 1.15;
    text-transform: uppercase;

    @media screen and ($mobile) {
      // margin-left: 20px;
      // margin-top: 6px;
    }

    @media screen and ($tablet) and (max-width: 1279px) {
      // margin-left: 20px;
      // margin-top: 52px;
    }
  }

  &__logo--icon {
    fill: var(--secondary-bg-color);
  }
}

.logo__image {
  height: 50px;
}

.btns__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list {
  @extend %list;
  margin-left: 180px;
  margin-right: -35px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.31;
  color: var(--inverted-text-color);
  @media screen and (max-width: 1279px) {
    display: none;
  }

  @media screen and ($desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.nav__item {
  margin-right: 35px;
}

.nav__link {
  @extend %link;
  padding-top: 25px;
  padding-bottom: 25px;
  &:hover,
  &:focus,
  &.current {
    color: var(--accent-color);
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.header__background {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: var(--card2-color);
  @media screen and ($tablet) {
    height: 94px;
  }
  @media screen and ($desktop) {
    height: 94px;
  }
}

.order-btn {
  @include button(normal, 200px);
  // margin-right: 20px;

  @media screen and ($mobile) {
    display: none;
  }

  @media screen and ($tablet) {
    width: 160px;
  }

  &__icon {
    margin-left: 16px;
    width: 10px;
    height: 10px;
  }
}

.icon-angle {
  fill: currentColor;
}

.menu__btn-burger {
  width: 40px;
  height: 40px;

  //margin-left: 100px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  @media screen and ($tablet) {
    margin-right: 20px;
  }

  @media screen and ($desktop) {
    display: none;
  }
  .menu__icon {
    width: 20px;
    height: 12px;
    fill: var(--accent-color);
  }

  &:hover,
  &:focus {
    & .menu__icon {
      fill: var(--inverted-text-color);
    }
  }
}
