.hero {
  &__section {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0 auto;

    background-color: var(--hero-bg-color);
    z-index: 20;
  }

  &__container {
    position: relative;
    width: 100%;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and ($tablet) {
      width: 768px;
      padding-left: 34px;
      padding-right: 34px;
    }
    @media screen and ($desktop) {
      width: 100%;
      max-width: 1440px;
      padding-left: 46px;
      padding-right: 46px;
      // height: 650px;
    }
  }

  &__wrap {
    position: absolute;
    z-index: 2;
    top: 190px;
    @media screen and ($tablet) {
      top: 115px;
    }
  }

  &__heading {
    display: block;
    width: 218px;
    height: 106px;
    color: var(--inverted-text-color);

    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.04em;
    line-height: 1.15;

    text-align: left;
    text-transform: uppercase;
    margin-right: auto;

    @media screen and ($tablet) {
      width: 162px;
      height: 80px;
      font-size: 22px;
      line-height: 1.13;
    }

    @media screen and ($desktop) {
      width: 227px;
      height: 137px;
      font-size: 38px;
      line-height: 1.15;
      margin-left: 85px;
      margin-bottom: 25px;
    }

    transition: all var(--transition-params);
  }

  &__heading--accented {
    display: block;
    color: var(--accent-color);

    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.04em;
    line-height: 0.96;

    text-align: center;
    text-transform: uppercase;

    @media screen and ($tablet) {
      font-size: 34px;
      line-height: 0.9;
    }

    @media screen and ($desktop) {
      font-size: 58px;
    }
  }

  &__btns-list {
    @extend %list;
    @include flex_center();
    margin-top: 19px;
    margin-left: -8px;
    justify-content: left;
    @media screen and ($desktop) {
      // margin-top: 25px;
      margin-left: 85px;
      // margin-left: -8px;
      padding-top: 45px;
    }
  }

  &__button {
    @extend %link;
    @include button(small-normal);
    margin-left: 8px;

    &.current {
      @include button(small-inverted);
    }
  }

  // &__picture-wrap {
  //   width: 100%;
  //   padding-top: 92px;
  //   z-index: -1;
  // }

  // &__image {
  //   position: relative;
  //   left: 50%;
  //   transform: translateX(-30%);
  //   width: 171px;
  //   height: 410px;
  //   @media screen and ($tablet) {
  //     width: 143px;
  //     height: 336px;
  //     transform: translateX(-10%);
  //   }
  //   @media screen and ($desktop) {
  //     width: 236px;
  //     height: 557px;
  //     transform: translateX(-20%);
  //   }
  // }

  &__circle {
    position: absolute;
    border-radius: 50%;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    background-color: var(--circle-bg-color);
    z-index: -2;
    @media screen and ($desktop) {
      width: 538px;
      height: 538px;
    }
    transition: all var(--transition-params);
  }

  &__bottom-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(130%, -117%);
    @media screen and ($mobile) {
      display: none;
    }
    @media screen and ($tablet) {
      width: 114px;
      height: 48px;
    }
    @media screen and ($desktop) {
      width: 200px;
      height: 78px;
      transform: translate(122%, -117%);
    }
  }

  &__bottom-text {
    width: 100%;
    color: var(--main-bg-color);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    margin-bottom: 5px;
    @media screen and ($desktop) {
      font-size: 14px;
      line-height: 1.4;
      margin-bottom: 17px;
    }
  }

  &__girl-wrap {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-25%, 0);
    @media screen and ($mobile) {
      display: none;
    }
    transition: all var(--transition-params);
  }

  &__milk-wrap {
    position: absolute;
    left: 0;
    bottom: 0;

    @media screen and ($tablet) {
      transform: translate(22%, -17%);
      transition: transform 350ms;
    }
    @media screen and ($desktop) {
      transform: translate(32%, -17%);
    }
    @media screen and ($mobile) {
      transform: translateX(-250%);
    }
  }
}

.numbers {
  position: relative;
  @extend %list;
  display: none;
  margin-top: -13px;
  @media screen and ($tablet) {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-120%, 77%);
  }
  @media screen and ($desktop) {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-100%, 90%);
  }

  &__item {
    margin-top: 13px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      border-radius: 50%;
      right: 0;
      top: 0;
      transform: translate(55%, -20%);
      width: 16px;
      height: 16px;
      background-color: var(--main-bg-color);
      z-index: -1;
      @media screen and ($desktop) {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__title {
    color: var(--accent-color);
    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;
    @media screen and ($desktop) {
      font-size: 46px;
    }
  }
  &__text {
    color: var(--main-bg-color);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.04em;
    text-align: right;
    @media screen and ($desktop) {
      font-size: 14px;
    }
  }
}

.small-button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--main-bg-color);
  color: var(--accent-color);
  border: none;
  text-align: center;
  cursor: pointer;
  margin-top: auto;
  @media screen and ($desktop) {
    width: 26px;
    height: 26px;
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-bg-color);
  }

  &__icon {
    transform: translateY(-40%);
    fill: currentColor;
  }

  transition: all var(--transition-params);
}

.girl__image {
  @media screen and ($tablet) {
    width: 168px;
    height: 133px;
  }
  @media screen and ($desktop) {
    width: 293px;
    height: 232px;
  }
}

.milk__image {
  @media screen and ($tablet) {
    height: 126px;
  }
  @media screen and ($desktop) {
    height: 191px;
  }
}

.hero__picture-wrap {
  position: relative;
  width: 100%;
  height: 502px;
  padding-top: 92px;
  z-index: -1;

  @media screen and ($tablet) {
    height: 399px;
    padding-top: 63px;
  }

  @media screen and ($desktop) {
    height: 665px;
    padding-top: 108px;
  }

  $animationSpeed: 1000ms;
  $animationLayer: 20ms;
  $animationBesier: cubic-bezier(0.65, -0.19, 0.26, 1.29);

  & .picture-wrap__layer {
    position: absolute;
    left: 50%;
    bottom: 0;

    animation-name: fadeinIcecream;
    animation-fill-mode: forwards;
    animation-duration: $animationSpeed;
    animation-timing-function: $animationBesier;
  }

  & picture:nth-child(1) {
    .picture-wrap__layer {
      animation-delay: $animationLayer;
    }
  }
  & picture:nth-child(2) {
    .picture-wrap__layer {
      animation-delay: $animationLayer * 2;
    }
  }
  & picture:nth-child(3) {
    .picture-wrap__layer {
      animation-delay: $animationLayer * 3;
    }
  }
  & picture:nth-child(4) {
    .picture-wrap__layer {
      animation-delay: $animationLayer * 4;
    }
  }
  & picture:nth-child(5) {
    .picture-wrap__layer {
      animation-delay: $animationLayer * 5;
    }
  }
  & picture:nth-child(6) {
    .picture-wrap__layer {
      animation-delay: $animationLayer * 6;
    }
  }
  & picture:nth-child(7) {
    .picture-wrap__layer {
      animation-delay: $animationLayer * 7;
    }
  }
  & picture:nth-child(8) {
    .picture-wrap__layer {
      display: none;
      @media screen and ($desktop) {
        display: block;
        opacity: 0;
        top: 95px;
        left: 50%;
        transform: translateX(-20%);
      }
      animation: appearanceCream 1700ms 800ms ease-in-out forwards,
        flowCream 2200ms 800ms ease-in-out forwards;
    }
  }
  & picture:nth-child(9) {
    .picture-wrap__layer {
      display: none;
      opacity: 0;
      @media screen and ($desktop) {
        display: block;
        top: 95px;
        left: 50%;
        transform: translateX(-20%);
      }
      animation: appearanceCream 1900ms 1000ms ease-in-out forwards,
        flowCream 2200ms 1200ms ease-in-out forwards;
    }
  }
}

@media screen and ($mobile) {
  @keyframes fadeinIcecream {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(-30%);
    }
  }
}

@media screen and ($tablet) {
  @keyframes fadeinIcecream {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(-10%);
    }
  }
}

@media screen and ($desktop) {
  @keyframes fadeinIcecream {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(-20%);
    }
  }
}

@keyframes appearanceCream {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flowCream {
  0% {
    transform: translate(-20%, 0);
  }
  100% {
    transform: translate(-20%, 15px);
  }
}
