.hero {
  &__section {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0 auto;

    background-color: var(--hero-bg-color);
    z-index: 20;
  }

  &__container {
    width: 100%;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__wrap {
    position: absolute;
    z-index: 2;
  }

  &__heading {
    display: block;
    width: 218px;
    height: 106px;
    color: var(--inverted-text-color);

    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 26px;
    letter-spacing: 0.04em;
    line-height: 1.15;

    text-align: left;
    text-transform: uppercase;
    margin-right: auto;
    margin-top: 100px;

    @media screen and ($tablet) {
      width: 162px;
      height: 80px;
      font-size: 22px;
      line-height: 1.13;
      margin-top: 15px;
    }

    @media screen and ($desktop) {
      font-size: 38px;
      line-height: 1.15;
    }
  }
  &__heading--accented {
    display: block;
    color: var(--accent-color);

    font-family: var(--accent-font);
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.04em;
    line-height: 0.96;

    text-align: center;
    text-transform: uppercase;

    @media screen and ($tablet) {
      font-size: 34px;
      line-height: 0.9;
    }

    @media screen and ($desktop) {
      font-size: 58px;
    }
  }

  &__btns--list {
    @extend %list;
    @include flex_center();
    margin-top: 19px;
    margin-left: -8px;
    justify-content: left;
  }

  &__button {
    @extend %link;
    @include button(small-normal);
    margin-left: 8px;

    &:hover,
    &:focus,
    &.current {
      @include button(small-inverted);
    }
  }

  &__picture-wrap {
    width: 100%;
    margin-top: 92px;
    z-index: -1;
  }

  &__image {
    position: relative;
    left: 50%;
    transform: translateX(-30%);
    width: 171px;
    height: 410px;
    @media screen and ($tablet) {
      width: 143px;
      height: 336px;
    }
  }

  &__circle {
    position: absolute;
    border-radius: 50%;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    background-color: var(--circle-bg-color);
    z-index: -2;
  }

  &__bottom--wrap {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-100%, -50%);
    @media screen and ($mobile) {
      display: none;
    }
    @media screen and ($tablet) {
      display: flex;
    }
  }
  &__girl--wrap {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-45%, 0);
    @media screen and ($mobile) {
      display: none;
    }
  }

  &__milk--wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(50%, -20%);
    @media screen and ($mobile) {
      display: none;
    }
  }
}

.girl__image {
  @media screen and ($tablet) {
    width: 168px;
    height: 133px;
  }
  @media screen and ($desktop) {
    width: 293px;
    height: 232px;
  }
}

.milk__image {
  @media screen and ($tablet) {
    width: 124px;
    height: 126px;
  }
  @media screen and ($desktop) {
    width: 188px;
    height: 191px;
  }
}
