.modal--franchise {
  position: relative;
  @media screen and ($tablet) {
    max-width: 550px;
  }
  @media screen and ($desktop) {
    max-width: 600px;
  }
}
.mod-franchise__form {
  @media screen and ($tablet) {
    width: 60%;
    margin-right: 25px;
  }
}

.form__subtitle {
  color: var(--secondary-text-color);
  font-size: 14px;
}
.modal-franchise__img {
  display: block;
  margin: 0 auto;
}
.form__field--textarea {
  @media screen and ($tablet) {
    width: 100%;
  }
}
.mod-franchise__wrap {
  @media screen and ($tablet) {
    display: flex;
  }
}

.modal-fr__pic {
  @include flex_center;
}
.modal-fr__img {
  @media screen and ($mobile) {
    display: none;
  }
  @media screen and ($tablet) {
    width: 210px;
  }
}
.form__control {
  width: 100%;
  height: 30px;
  background-color: #ffa5ba80;
  font-size: 14px;
  border: 1px solid transparent;
}
