.modal {
  position: relative;
  left: 50%;
  top: 50%;
  max-width: 450px;
  width: 95%;
  padding: 35px 20px;

  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);

  transition: transform var(--transition-params);

  @media screen and ($desktop) {
    max-width: 520px;
  }

  .is-hidden & {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.modal__btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  @include flex_center;

  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition: background-color var(--transition-params), box-shadow var(--transition-params);

  &:hover,
  &:focus {
    background-color: #ecebeb;
    box-shadow: var(--shadow-params);
  }

  & .icon__close {
    width: 14px;
    height: 14px;
    fill: var(--accent-color);
  }
}

.modal__btn {
  @include button(inverted, 170px);
  margin: 0 auto;
}
