.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 98%;
	height: 98%;
	background-color: var(--secondary-bg-color);
	transition: opacity var(--transition-params),
		 visibility var(--transition-params);
}
.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}
.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.7);
}
.modal {
	@media screen and ($mobile){
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 450px;
	max-height: 100vh;
	padding: 40px;
	background-color: var(--secondary-bg-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transform: translate(-50%, -50%) scale(1);
	transition: var(--transition-params);
	.is-hidden & {
		transform: translate(-50%, -50%) scale(0.7);
	}
}
}
.modal__title {
	font-family: var(--accent-font);
	margin-bottom: 12px;
	font-weight: 400;
	font-size: 58px;
	line-height: 66px;
	letter-spacing: 0.06em;
	color: var(--accent-color);
}
.modal__subtitle {
	font-family: var(--accent-font);
	margin-bottom: 12px;
	font-weight: 400;
	font-size: 30px;
	line-height: 34px;
	letter-spacing: 0.04em;
	color: var(--secondary-text-color);
}
.input-group__label {
	color: (--accent-color);
	padding: 8px 0;
}
.input-group {
	margin-bottom: 10px;
}
.input-group__absolute {
	position: relative;
	height: 40px;
	width: 100%;
	flex-direction: column;
}
.input-group__input {
	padding: 11px 0px 11px 42px;
	height: 40px;
	width: 100%;
	border: 1px solid rgba(33, 33, 33, 0.2);
	box-sizing: border-box;
	border-radius: 4px;
	transition: border var(--transition-params);
	fill: var(--circle-bg-color);
	.input-group__absolute:focus-within > & {
		outline: none;
		border-color: var(--accent-color);
	}
}
.close-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 8px;
	right: 8px;
	border-radius: 50%;
	background: transparent;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	transition: fill var(--transition-params);
	&:hover {
		fill: var(--accent-color);
	}
}
	.primary-button {
		min-width: 200px;
		height: 50px;
		display: block;
		margin: 0 auto;
		color: var(--inverted-text-color);
		background-color: var(--accent-color);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		font-weight: 700;
		font-size: 16px;
		line-height: 1.8;
		padding: 10px 36px;
		border: none;
		border-radius: 4px;
		transition: fill var(--transition-params);
		margin-top: 50px;
	}
