.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.2);
}
.is-hidden .modal-form {
	transform: translate(-50%, -50%) scale(0.7);
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	padding: 20px;
	background-color: var(--main-bg-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	transform: translate(-50%, -50%) scale(1);
	transition: var(--transition-params);
	.is-hidden & {
		transform: translate(-50%, -50%) scale(0.7);}
@media screen and ($mobile){
	max-width: 95vw;
	height: 80vh;
  }

@media screen and ($tablet){
		max-width: 450px;
		max-height: 100hv;
	}
   
@media screen and ($desktop){
		max-width: 800px;
		max-height: 600px;
   }
}
.modal__title {
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 58px;
	line-height: 66px;
	letter-spacing: 0.02em;
	color: var(--accent-color);
	margin-bottom: 20px;
}
.modal__subtitle {
	font-family: var(--accent-font);
	margin-bottom: 12px;
	font-weight: 400;
	font-size: 30px;
	line-height: 34px;
	letter-spacing: 0.04em;
	color: var(--secondary-text-color);}
 
.input-group {
		margin-bottom: 10px;
	 }
.input-group__absolute {
		position: relative;
		height: 40px;
		width: 100%;
		flex-direction: column;
	 }
.input-group__input {
	padding: 11px 0px 11px 42px;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	box-sizing: border-box;
	border-radius: 4px;
	background-color: var(--hero-bg-color);
	transition: border var(--transition-params);
	.input-group__absolute:focus-within > & {
	  outline: none;
	  border-color: var(--accent-color);
	}
	@media screen and ($mobile){
        width: 100%;
	 }
	 @media screen and ($tablet) {
	     width: 50%;
	 }
	 @media screen and ($desktop){
		 width: 50%;
		 }
	 }	
 .primary-button {
	@include button(normal, 200px);
		display: block;
		margin: 0 auto;
		color: var(--inverted-text-color);
		background-color: var(--accent-color);
		margin-top: 50px;
 }
 

.close-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	cursor: pointer;
	top: 8px;
	right: 8px;
	border-radius: 50%;
	background: transparent;
	width: 30px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	transition: fill var(--transition-params);
	&:hover {
		fill: var(--accent-color);
	}
}

.modal__img {
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 8px;
	right: 8px;
	border-radius: 50%;
	background: transparent;
	@media screen and ($mobile){
		display: none;}
  }			


.pink-icecream__image {
	@media screen and ($tablet) and ($desktop){
	max-width: 90%;
	max-height: 90%;
}
}