.form {
}
.form__title {
}
.form__field {
}
.form__label {
}
.form__wrap {
}
.form__input {
}
.form__field--textarea {
}
.form__textarea {
}

.btn__icon {
  margin-left: 16px;
  width: 20px;
  height: 20px;

  .icon-icetruck {
    fill: currentColor;
  }
}
