.products__section {
  padding-top: 120px;
  padding-bottom: 100px;
}

.section__heading--products {
  margin-bottom: 145px;
}

.products-cards__list {
  @extend %list;
  width: 100%;
}

.products-cards__item {
  position: relative;
  width: 100%;
  height: 485px;
  border-radius: 24px;
}

.products-cards__item {
  &:not(:last-child) {
    margin-bottom: 130px;
  }
}

.products-cards__wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.products-cards__item--rose {
  background-color: var(--hero-bg-color);
}

.products-cards__item--yellow {
  background-color: var(--card2-color);
}

.products-cards__item--green {
  background-color: var(--card3-color);
}

.products-cards__title {
  font-family: var(--accent-font);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-bg-color);

  text-align: center;
  margin-bottom: 65px;
}

.products-cards__title--rose::before,
.products-cards__title--yellow::before,
.products-cards__title--green::before {
  content: '';
  width: 249px;
  height: 252px;

  position: absolute;
  left: 50%;
  top: -23.5%;
  transform: translateX(-50%);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.products-cards__title--rose::before {
  background-image: url(../images/products-ice-cream-mobile@1x.png);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products-ice-cream-mobile@2x.png);
  }
}

.products-cards__title--yellow::before {
  background-image: url(../images/products-ice-coffee-mobile@1x.png);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products-ice-coffee-mobile@2x.png);
  }
}

.products-cards__title--green::before {
  background-image: url(../images/products-milkshakes-mobile@1x.png);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products-milkshakes-mobile@2x.png);
  }
}

.products-cards__title::after {
  content: '. . .';
  position: absolute;
  top: 205px;
  left: 50%;
  transform: translateX(-50%);
}

.products-cards__text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-bg-color);

  text-align: center;
  margin-bottom: 30px;
}

.products__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--main-bg-color);
  border: none;

  text-align: center;
}

.products__button-icon {
  transform: translateY(20%);
}
