.products__section {
  padding-top: 120px;
  padding-bottom: 100px;

  @media screen and($tablet) {
    padding-bottom: 110px;
  }

  @media screen and($desktop) {
    padding-top: 130px;
    padding-bottom: 120px;
  }
}

.container--products {
  @media screen and($desktop) {
    padding-left: 112px;
    padding-right: 112px;
  }
}

.section__subtitle {
  margin-bottom: 15px;
}

.section__heading--products {
  margin-bottom: 145px;

  @media screen and($tablet) {
    margin-bottom: 150px;
  }

  @media screen and($desktop) {
    margin-bottom: 260px;
  }
}

.products-cards__list {
  @extend %list;
  width: 100%;

  @media screen and($tablet) {
    @include flex_grid(20px);
    margin: 0;
  }

  @media screen and($desktop) {
    @include flex_grid(24px);
    margin: 0;
  }
}

.products-cards__item {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 485px;
  cursor: pointer;

  @media screen and($mobile) {
    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }

  @media screen and($tablet) {
    @include flex_grid_item(3, 20px);
  }

  @media screen and($desktop) {
    @include flex_grid_item(3, 24px);
    height: 525px;
  }
}

.products-cards__wrap {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 24px;

  transition: transform var(--transition-params);
  transform-style: preserve-3d;
}

.products-cards__wrap--rose {
  background-color: var(--hero-bg-color);
}

.products-cards__wrap--yellow {
  background-color: var(--card2-color);
}

.products-cards__wrap--green {
  background-color: var(--card3-color);
}

.products-cards__wrap--rose::before,
.products-cards__wrap--yellow::before,
.products-cards__wrap--green::before {
  content: '';
  width: 250px;
  height: 250px;

  position: absolute;
  left: 50%;
  top: -23%;
  transform: translateX(-50%);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and($tablet) {
    width: 220px;
    height: 220px;
    top: -20.5%;
  }

  @media screen and($desktop) {
    width: 335px;
    height: 335px;
    top: -40%;
  }
}

.products-cards__wrap--rose::before {
  background-image: url(../images/products/products-ice-cream-desktop@1x.png);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/products-ice-cream-desktop@2x.png);
  }
}

.products-cards__wrap--yellow::before {
  background-image: url(../images/products/products-ice-coffee-desktop@1x.png);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/products-ice-coffee-desktop@2x.png);
  }
}

.products-cards__wrap--green::before {
  background-image: url(../images/products/products-milkshakes-desktop@1x.png);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/products-milkshakes-desktop@2x.png);
  }
}

.products-cards__flip-front,
.products-cards__flip-back {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 160px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;

  @media screen and($tablet) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media screen and($desktop) {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 50px;
  }
}

.products-cards__flip-front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.products-cards__flip-back {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  padding-right: 30px;
  backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

  @media screen and($tablet) {
    padding-right: 20px;
  }

  @media screen and($desktop) {
    padding-right: 35px;
  }
}

.products-cards__item.flip .products-cards__wrap {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

// .products-cards__item.flip .products-cards__flip-front,
// .products-cards__flip-back {
//   opacity: 0;
// }

// .products-cards__item.flip .products-cards__flip-back,
// .products-cards__flip-front {
//   opacity: 100;
// }

.products-cards__title {
  font-family: var(--accent-font);
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-bg-color);

  text-align: center;
  margin-bottom: 65px;

  @media screen and($desktop) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products-cards__title::after {
  content: '. . .';
  position: absolute;
  top: 205px;
  left: 50%;
  transform: translateX(-50%);
}

.products-cards__text,
.products-cards__flip-back-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-bg-color);
  text-align: center;

  @media screen and($tablet) {
    line-height: 1.7;
  }

  @media screen and($desktop) {
    font-size: 16px;
    line-height: 1.9;
  }
}

.products-cards__text {
  max-height: 125px;
  overflow: hidden;
  margin-bottom: auto;
}

.products-cards__flip-back-text {
  background-color: inherit;
  max-height: 215px;
  overflow-y: auto;

  margin-bottom: auto;
  padding-right: 10px;

  &::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.3);
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
  }

  @media screen and($desktop) {
    max-height: 250px;
  }
}

.products__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-bg-color);
  color: var(--accent-color);
  border: none;
  text-align: center;
  cursor: pointer;

  transition: background-color var(--transition-params), color var(--transition-params);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-bg-color);
  }
}

.products__button-icon {
  transform: translateY(20%);
  fill: currentColor;
}

.products__button-icon--back {
  transform: translateY(20%) scale(-1);
}
